@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-dark antialiased;
    /* Fallback color */
    background-color: #fff5f7;
    /* Image only */
    /* background-image: url('./image/bg-store.jpg.png'); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}

* {
  font-family: 'Be Vietnam Pro', sans-serif !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}